@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 100% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  [data-radix-popover-trigger] {
    --radix-popover-trigger-width: 100%; /* Adjust this to fit your layout */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* mine */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-placeholder::placeholder {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

.popover-content-width-same-as-its-trigger {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

.spinner-none {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.spinner-none::-webkit-inner-spin-button,
.spinner-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px) translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(50%);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
